version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "monthly"
    labels: ["dependencies"]

  # Maintain dependencies for npm (excluding apps/docs)
  - package-ecosystem: "npm"
    directories:
      - "/"
      - "/packages/*"
      - "/examples/*"
    open-pull-requests-limit: 10
    schedule:
      interval: "monthly"
    labels: ["dependencies"]
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
